{% extends 'front/base.html' %} {% load static %} {% block content %}
<div class="wrapper">
    <div class="profile-content section">
        <div class="container">
            <div class="row">
                <div class="profile-picture">
                    <div class="fileinput fileinput-new" data-provides="fileinput">
                        <br></br>
                        <div class="fileinput-new img-no-padding">
                            <img src="{% static 'front/img/faces/Profile picture.jpeg' %}" alt="...">
                        </div>
                        <div class="name">
                            <h4 class="title text-center">Akhmad Maulana<br /><small>Mahasiswa TI</small></h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 ml-auto mr-auto text-center">
                    <p>Seorang Mahasiswa Teknik Informatika di UMKT Samarinda semester 5,yang bermimpi memiliki kekasih dan pujaan hati anak perawat</p>
                    <br />
                </div>
            </div>
            <br />
        </div>
    </div>
</div>
{% endblock content %}